<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice.mapper.MemberMapper">
    <select id="findAll" resultType="Member">
        SELECT * FROM member;
    </select>

    <select id="selectMember" parameterType="String" resultType="Member">
        SELECT *
          FROM member
         WHERE MEM_ID = #{memId};
    </select>

    <select id="selectMemberByEmail" parameterType="String" resultType="Member">
        SELECT *
          FROM member
         WHERE MEM_EMAIL = #{memEmail};
    </select>

    <insert id="insertMember" parameterType="Member">
        INSERT INTO member(MEM_ID, MEM_NICK, MEM_PASSWORD, MEM_EMAIL, MEM_CELL, MEM_ROLE, SIGN_DATE, LOGIN_FAIL_COUNT)
        VALUES(#{memId}, #{memNick}, #{memPassword}, #{memEmail}, #{memCell}, #{memRole}, SYSDATE(), 0);

    </insert>

    <select id="checkIsMemberIdExist" parameterType="String" resultType="int">
        SELECT COUNT(*)
          FROM member
        WHERE MEM_ID = #{memId};
    </select>

    <select id="checkIsMemberNickExist" parameterType="String" resultType="int">
        SELECT COUNT(*)
          FROM member
        WHERE MEM_NICK = #{memNick};
    </select>

    <select id="forgotPassword" parameterType="Member" resultType="Member">
        SELECT *
          FROM member
         WHERE MEM_ID = #{memId}
           AND MEM_NICK = #{memNick}
           AND MEM_EMAIL = #{memEmail}
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE member
           SET MEM_PASSWORD = #{memPassword}
         WHERE MEM_ID = #{memId}
    </update>

    <update id="updateFailCount" parameterType="String">
        UPDATE member
            SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
        WHERE MEM_ID = #{memId}
    </update>
</mapper>